<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="elbadev.com.wordswords">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:screenOrientation="portrait"
        android:icon="@mipmap/ic_logo_bronzed"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
                 android:theme="@style/AppTheme">
        <activity
            android:name=".WordsWords"
                android:label="@string/title_activity_main"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoard"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Game"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WordsGame"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ClassificaWordsGame"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Ending"
            android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>
